*,
*::before,
*::after {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
}

body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

input {
  width: 20rem;
  padding: 0.5rem;
}

button {
  width: 20rem;
  padding: 1rem;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 0.4rem;
  font-weight: bold;
  margin-top: 1rem;
}

button:active {
  background-color: blueviolet;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 40.5rem;
  margin-top: 30rem;
  margin-inline: auto;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 50px);
  gap: 5px;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid black;
}
